/* Box Sizing */

*, *:before, *:after {
    box-sizing: border-box;
}

/* Main Grid Control */

.main_grid {
    max-width:800px;
    border: 1px solid white;
    background-color: dodgerblue;
    margin: auto;
}

.main_grid > * {
    display: inline-block;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

* form {
    display: inline-block;
    background-color: dodgerblue;
    margin-top: 10px;
    margin-bottom: 40px;
    align-content: center;
    
}

form#dropdown {
    display: inline-block;
    background-color: dodgerblue;
    margin-top: 10px;
    margin-bottom: 0px;
    align-content: center;
    width: 171px;
    color: white;
    position: relative;
}

form#dropdown select {
    display: inline-block;
    background-color: dodgerblue;
    margin-top: 10px;
    margin-bottom: 40px;
    align-content: center;
    width: 171px;
    margin-top: 10px;
    color: white;
    border: 3px solid white;
}

.column1 {
    width: 240px;
    vertical-align: top;
    margin: auto;
    padding: 30px;
}

.column2 {
    width: 240px;
    vertical-align: top;
    margin: auto;
    padding: 30px;
}

.column3 {
    width: 240px;
    vertical-align: top;
    margin: auto;
    padding: 30px;
}

form [type=text] {
    background-color: dodgerblue;
}

* textarea {
    background-color: dodgerblue;
    border: 3px solid white;
    display: inline-block;
    width: 171px;
    height: 100px;
}

* input {
    display: inline-block;
    border: 3px solid white;
    width: 100%;
}

::-webkit-input-placeholder {
    color: white;
}

* p {
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: small;
    text-align: left;
}
input:hover {
    border-color:deeppink;
}

form#dropdown:hover select {
    color:deeppink;
}
* :hover {
    border-color:deeppink;
}
* p:hover {
    color:deeppink;
}